header {
  border: 4px solid #F0BFFF;
  background-color: #F0BFFF;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

@keyframes color-change {
  30% {
    color: aqua;
  }
  60% {
    color:deeppink;
  }
  90% {
    color:blue;
  }
}

.animated-title {
  animation-name: color-change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
