header {
  background-color: #7B8CA6;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%vw;
}

h1 {
  font-size: 70px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

@keyframes color-change {
  30% {
    color: aqua;
  }
  60% {
    color:deeppink;
  }
  90% {
    color:blue;
  }
}

.animated-title {
  animation-name: color-change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
