* {
    font-size: 20px;
    font-family:'Roboto', sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Work Sans', sans-serif,
    monospace;
}
