nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgb(214, 208, 208);
  border: 1px solid gray;
}
.reflections {
transition: color 0.5s ease;
color: black;
}
.reflections:hover {
color:blueviolet;
}

.sustainability {
transition: color 0.5s ease;
color: black;
}
.sustainability:hover {
color:green;
}

.about-me {
transition: color 0.5s ease;
color: black;
}
.about-me:hover {
color:white;
}